@import "tailwindcss";
/* Hỗ trợ Chrome, Safari, Edge */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* Hỗ trợ Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none;     
  }
  